<div class="fullpage">
  <div class="row">
    <% 4.times do %>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="http://nnimgt-a.akamaihd.net/transform/v1/crop/frm/storypad-35ns5Wme2fedmBqQ6qZE6iD/fcada13d-25ab-41f7-82fc-0ccec3122042.jpg/r0_435_4896_3199_w1200_h678_fmax.jpg">
        </div>
      </div>
    <% end %>
  </div>
</div>
