

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carouselcontainer">
          <img src="http://i.imgur.com/w7agEAw.jpg" alt="...">
        </div>
      </div>
      <div class="item">
        <div class="carouselcontainer">
          <img src="https://i.ytimg.com/vi/yX8FAwqAQSE/maxresdefault.jpg" alt="...">
        </div>
      </div>
      <div class="item">
        <div class="carouselcontainer">
          <img src="https://i5.walmartimages.com/asr/c7b3412b-1abc-49ad-8d2d-5d2ff6d724a3_1.85664c72420fb0cfafc8ff454ce13d5a.jpeg" alt="...">
        </div>
      </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
